<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>For Styles</title>
    </head>
    <style>
        body {
            background-color: lightblue;
            text-align: center;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            justify-content: center;
        }
        .gap {
            margin-top: 40px;
        }
        table {
          margin: auto;
        }

        th, td {
           text-align: center;
           padding: 10px;
       } 
   </style>
    <body>
        <h1>This is styles</h1>
        <div class="grid-container gap">
            <div>
                <h2>List of Products</h2>
                <table border="1">
                    <tr>
                        <th>Product Name</th>
                        <th>Product</th>
                    </tr>

                    <!-- template tag -->
                    {% for key, value in products.items %}
                    <tr>
                        <!-- filter tag -->
                        <td>{{ key|upper }}</td>
                        <td>{{ value|capfirst }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div>
                <!-- table for students -->
                <h2>List of Students with 10 by 10 </h2>
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>City</th>
                        <th>Department</th>
                        <th>Semester</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>GPA</th>
                        <th>Status</th>
                    </tr>

                    {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.age }}</td>
                        <td>{{ student.city }}</td>
                        <td>{{ student.department }}</td>
                        <td>{{ student.semester }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.phone }}</td>
                        <td>{{ student.gpa }}</td>
                        <td>{{ student.status }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

        <!-- for regitation form -->
        <h3 class="gap">Registration Form</h3>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <br>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <br>
            <br>
            <input type="submit" value="Register">
        </form>

    </body>
</html>