<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>For Styles</title>
    </head>
    <body>
        <h1>This is styles</h1>
        <table border="1">
            <tr>
                <th>Product Name</th>
                <th>Product</th>
            </tr>

            <!-- template tag -->
            {% for key, value in products.items %}
            <tr>
                <!-- filter tag -->
                <td>{{ key|upper }}</td>
                <td>{{ value|capfirst }}</td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>